<%= form.label :images %>
<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="10" data-dropzone-max-files="10" data-dropzone-accepted-files="image/*">
  <%= form.file_field :images, multiple: true, direct_upload: true, data: {target: 'dropzone.input'} %>
  <div class="dropzone-msg dz-message text-muted">
    <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
    <span class="dropzone-msg-desc text-sm">10 MB file size maximum. Allowed file types png, jpg.</span>
  </div>
</div>